// Se muestre en una caja con un border y las etiquetas diferentes (color)
.container{
    border: 1px solid black;
    margin: 30px;
    width: 250px;
}
h1{
    color: blue;
    margin-left: 5px;
}
h3{
    color: red;
    margin-left: 10px;
}
p{
    color: black;
    margin-left: 5px;
}